
.menu .navigator__punct-menu li:nth-child(2){
   text-decoration: underline;
   color: #C85151;   
}
/*#region Абонементи */
.subscription__body{
   margin-top: 50px;
   border: 1px solid black;
   box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.25) inset;
   border-radius: 10px;
   min-height: 380px;
   min-width: 250px;
   height: max-content;
   width: max-content;
   padding: 30px 25px;
   display: flex;
   flex-direction: column;
   justify-content: space-between; 
   align-items: center; 
}
.subscription__body-title{
   text-align: center;
   font-size: 24px;
   margin-bottom: 30px;
}
.subscription__body-list{
   max-width: 245px;
}
.subscription__body-list li{
   list-style:disc;
   margin: 0px 0px 0px 30px;
   text-wrap: wrap;
}
.subscription__body-price{
   display: flex;
   justify-content: space-evenly;
   height: max-content;
   width: 100%;
   margin: 100px 0px 0px 0px;
   font-size: 22px;
}
.subscription__body-price-row{
   display: flex;
   gap: 5px;
}
.subscription__body-formalize{
   margin-top: 50px;      
}
.subscription__body-btn{   
   background: #D0ADAD;
   padding: 15px 30px;
   border: 1px solid #000;
   border-radius: 15px;
   color: #FAFAFA;
   font-weight: bold;
   font-family: Nunito Sans;
   font-size: 16px;
   transition-timing-function: ease-out;
   transition-duration: 300ms;
   box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.25) inset;
}
.subscription__body-btn:hover{
   border: 1px solid #000;
   background: #C85151;
   box-shadow: -5px -5px 4px 0px rgba(0, 0, 0, 0.25) inset;
}
.subscription__body-admin{
   border-radius: 50%;
   position: absolute;
   left: 430px;
}
.Admin-red{
   height: 30px;
   border-radius: 50%;
   align-items: center;
}
.subscription__body-time{
   margin-top: -25px;
   font-size: 14px;
   width: 100%;
   display: flex;
   justify-content: space-evenly;
}

.subscription__body_admin{
   margin-top: 0px;
   border: 1px solid black;
   box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.25) inset;
   border-radius: 10px;
   min-height: 280px;
   min-width: 650px;
   height: max-content;
   width: max-content;
   padding: 20px 25px;
   display: flex;   
}
.subscription__body_admin form{
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between; 
   align-items: center; 
}
.subscription__body_admin-name{
   display: flex;
   width: 100%;
   align-items: center;
   margin-bottom: 10px;
}
.name{
   width: 40%;
}
.subscription__body_admin input{
   border: 1px solid #000;
   border-radius: 5px;
   box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.25) inset;
   padding: 5px 5px 5px 10px;
   align-self: center;
   width: 200px;  
}
.subscription__body_admin-quantity{
   display: flex;
   width: 100%;
   align-items: center;
   margin-bottom: 10px;
}
.subscription__body_admin select{
   border: 1px solid #000;
   border-radius: 5px;
   box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.25) inset;
   padding: 5px 5px 5px 10px;
   align-self: center;   
}
.subscription__body_admin-price{
   display: flex;
   width: 100%;
   align-items: center;
   margin-bottom: 10px;
}
.subscription__body_admin-price input{
   width: 80px;  
}
.subscription__body_admin-time{
   display: flex;
   width: 100%;
   align-items: flex-start;
   margin-bottom: 10px;
}
.choice{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
}
.subscription__body_admin-time input{
   border: 0px solid #000;
   border-radius: 5px;
   box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25) inset;
   padding: 5px 5px 5px 10px;
   align-self: center;
   width: max-content; 
}
.choice-check{
   font-size: 16px;
   width: max-content;
}
.subscription__body_admin-list__element{
   display: flex;
   width: 100%;
   align-items: center;
   margin-bottom: 10px;
}
.text-el{
   flex: 1 1 auto;
}
/* #endregion */

/*#region Forma */
.form__block{
   align-items: center;
}
.form__input-check{
   width: 25px;
   height: 25px;
   border-radius: 10px;
   overflow: hidden;
   cursor: pointer;
}
.form__block-price{
   width: 100%;
   display: grid;
   box-sizing: border-box;
   grid-template-columns: 70% 25%;
   grid-template-rows: 1fr;
   gap: 5px;
}
/* #endregion */