.menu .navigator__punct-menu li:nth-child(3){
   text-decoration: underline;
   color: #C85151;   
}
.plus__timetable{
   font-size: 40px;
   border-radius: 100%;
   width: max-content;
   padding: 0px 10px 0px 10px;
}
.timetable__flex{
   display: flex;
   flex-direction: column;
   height: 100%;
   width: 100%;
   margin: 150px 0px 100px 0px;
}
.timetable__block{
   margin: 50px auto 100px auto;
   font-size: 24px;
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
}
.timetable__flex-block{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: flex-start;
   justify-content: space-between;
   overflow: hidden;
   min-height: 550px;   
   width: 60%; 
   border-radius: 10px;
   box-sizing: border-box;
   padding: 0px 15px 25px 0px;
   transition: all 0.3s ease-out 0s;
}
.timetable__btn-block{
   height: 100%;
   display: flex;
   flex-direction: column;
   width: max-content;
   font-size: 32px; 
   justify-content: flex-start;
   position: relative;
}
.timetable__btn{
   border-radius: 10px;
   padding: 0px 50px;
   display: flex;
   width: max-content;
   height: 80px;
   background: #3d3d3dd4;   
   color: #f1f1f1;
   text-align: right;
   justify-content: center;
   align-items: center;
   margin: 50px 50px 50px 50px;
   cursor: pointer;
}
.timetable__time{
   opacity: 1;
   padding: 25px 10px 25px 45px;
   width: 450px;
   height: 90%;
   box-sizing: border-box;
   margin: 50px 20px 50px 20px;
   font-size: 26px;
   background: #bebebec1;
   border-radius: 10px;
   transition: all 0.3s ease-out 0s;
}

@media (max-width:900px){
   .timetable__block{
      margin: 50px 0px 0px 0px;
      font-size: 24px;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      gap: 50px;
   }
   .timetable__flex-block{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      min-height: 450px;
      width: 100%;
   }
   .timetable__btn-block{
      height: 25%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 32px; 
      justify-content: start;
   }
   .timetable__btn{
      padding: 0px 35px 0px 35px;
      width: max-content;
      height: 80px;
      background: #3d3d3dd4;  
      color: #f1f1f1;  
      text-align: center;
      justify-content: center;
      align-items: center;
      margin: 20px 10px 10px 20px;
   }
   .timetable__time{
      width: 80%;
      min-height: 350px;
      font-size: 22px;
      padding: 15px 5px 30px 25px;
      margin: 25px 10px 25px 10px;
      transition: all 0.3s ease-out 0s;
   }
}