.menu .navigator__punct-menu li:nth-child(5){
   text-decoration: underline;
   color: #C85151;
}
.plus__trainers{
   font-size: 40px;
   border-radius: 100%;
   width: max-content;
   padding: 0px 10px 0px 10px;
}
.trainers__flex{
   display: flex;
   flex-direction: column;
   height: 100%;
   width: 100%;
   margin: 150px 0px 100px 0px;
}
/* .trainers__block-flex{
   width: 100%;
   border: 1px solid #51c86f;  
   margin: 0; 
} */
.trainers__block{   
   margin: 70px auto 100px auto;
   font-size: 24px;
   height: 100%;
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   /* flex-direction: column; */
   justify-content: center;
   gap: 45px;
   transition: all 0.3s ease-out 0s;
}
.trainers__block a{
   color: #000000;
}
.trainers__banner{
   width: 100%;
   border-radius: 10px;
   position: relative;
   transition: all 0.3s ease-out 0s;
}
.trainers__banner-close{
   height: 0px;
   width: 720px;
   background: rgba(19, 19, 20, 0.5);
   border-radius: 10px;
   padding: 15px 30px 15px 30px;
   position: relative;
   overflow: hidden;  
   opacity: 0;
   pointer-events: none; 
   transition: all 0.3s ease-out 0s;
   top: -20px;
   left: 0;
   z-index: 1;
}
.down-arrow{   
   cursor: pointer;
   color: #FFFFFF;
   width: max-content;
   font-size: 32px;
   display: flex;
   gap: 20px;  
   /* border: 1px solid #ffff12;  */
   transition: all 0.3s ease-out 0s;
}
.trainers__banner-open{
   z-index: 2;
   top: -30px;
   left: 0; 
   opacity: 1;
   pointer-events: auto; 
   height: 315px;
   width: 100%;
   background: #131314;
   border-radius: 10px;
   /* padding: 15px 30px 15px 30px; */
   position: relative;
   overflow: hidden;
   /* display: block; */
   transition: all 0.3s ease-out 0s;
   /* gap: 20px; */
}
.cross{
   cursor: pointer;
   width: max-content;
   color: rgba(239, 239, 239, 0.5);
   font-size: 32px;
   display: flex;
   gap: 20px;
   margin: 15px 0px 0px 30px;
   /* border: 1px solid #ff12ef; */
   transition: all 0.3s ease-out 0s;
}
.trainers__text{
   margin: 30px 0px 15px 30px;
   color: #EFEFEF;
   font-size: 36px;   
   width: 40%;
   transition: all 0.3s ease-out 0s;
}
.trainers__img-bannner{
   /* border: 1px solid #ff12ef; */
   position: absolute;
   left: 50%;
   top: 0;
   margin: 30px 30px 0px -30px;
   transition: all 0.3s ease-out 0s;
}

.trainers__carts {
    height: max-content;
    width: 280px;
    background: #D9D9D9;
    border-radius: 10px;
    padding: 25px 25px 10px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-size: 38px;
    transition: all 0.4s ease-out 0s;
    /* margin: 0 auto; */
    text-align: center;
    cursor: pointer;
}
.trainers__carts-image{
   height: 337px;
   width: 288px;
   border-radius: 20px;
   background-color: #f1f1f1;
}
.trainers__carts:hover{
   transform: scale(1.05);
}
@media (max-width:900px){
   .trainers__block{   
      margin: 20px auto 100px auto;
   }
   .trainers__banner{
      margin-top: 10px;
   }
   .trainers__banner-close{
      width: max-content; 
      padding: 15px 10px 10px 10px;     
   }
   .down-arrow{   
      cursor: pointer;
      color: #FFFFFF;
      width: 100%;
      font-size: 16px;
      display: flex;
      gap: 10px;  
      transition: all 0.3s ease-out 0s;
   }
   .down-arrow img{
      width: 30px;
   }
   .trainers__banner-open{
      height: 285px;
      width: 100%;
      /* padding: 10px 25px 10px 15px; */
   }
   .cross{
      cursor: pointer;
      width: 100%;
      color: rgba(239, 239, 239, 0.5);
      font-size: 16px;
      display: flex;
      align-items: center;
      gap: 10px;
      margin: 10px 25px 0px 15px;
      transition: all 0.3s ease-out 0s;
   }
   .cross img{      
      width: 20px;      
   }
   .trainers__text{
      margin: 30px 35px 0px 15px;
      color: #EFEFEF;
      font-size: 20px;   
      width: 90%;
      transition: all 0.3s ease-out 0s;
   }
   .trainers__img-bannner{
      /* width: 100%; */
      height: 80%;
      position: absolute;
      left: 15%;
      top: 35%;
      /* padding-top: 30px; */
      transition: all 0.3s ease-out 0s;
      clip-path: polygon(0 0, 100% 0, 100% 80%, 0 80%);
   }
   .trainers__carts {
      height: max-content;
   }
}