.logo{
   color: rgb(255, 255, 255);
}
.navigator__row{
   justify-content: space-around;
}
.menu{
   justify-content: center;
}
.menu .navigator__punct-menu li:nth-child(5){
   text-decoration: underline;
   color: #C85151;   
}